button {
  padding: 10px;
  background-color: #1D8743;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 15px;
  width: 100%;
  max-width: 300px;
}

button:hover {
  background-color: #166334;
}

button:active {
  background-color: #1D8743;
  transform: scale(0.98);
}

.my-component {
  display: block;
  margin: 10px auto;
  align-items: center;
  align-content: center;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
}

h2, h4 {
  color: #1D8743;
  margin-bottom: 15px;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}