<div class="depot-container">
  @if(this.session && this.vendeur && this.user) {

  <h2>Dépôt Vendeur</h2>

  <h2>Vous avez choisi la session {{session.name}} : {{session.dateDebut}} {{session.dateFin}}</h2>

  <app-afficher-vendeur [VendeurId]="vendeurId"></app-afficher-vendeur>


  <app-ajt-jeu [listeJeu]="listeJeu" [vendeur]="vendeur"></app-ajt-jeu>

  <h4>Liste des Jeux Déposés</h4>
  <app-afficher-jeu [listeJeu]="listeJeu"></app-afficher-jeu>



  <button (click)="logoutVendeur()">Logout Vendeur </button>
  } @else if(this.user) {
  <p>Vous devez choisir une session</p>
  } @else {
    <p>Vous devez vous connecter</p>
  }
</div>