<div>
  @if(this.user) {
  <h4>Liste des Sessions ( veuilez choisir une session ouverte ) </h4>
  @if(Sessions && Sessions.length > 0) {
  <div>

    <ul>
      <li *ngFor="let session of Sessions">
        <button (click)="redirectToAccueil(session)">
          <p><strong>Nom :</strong>
            {{ session.name }} </p>

          <p><strong>Date début :</strong>
            {{ session.dateDebut }}
          </p>

          <p><strong>Date Fin :</strong>
            {{ session.dateFin }} </p>

          <p><strong>Frais :</strong>
            {{ session.frais }} </p>

          <p><strong>Frais de commissions :</strong>
            {{ session.commissionsPourcentages }} </p>

            <p><strong>Total somme des commissions :</strong>
              {{ session.TotalSommeComissions }} </p>

              <p><strong>Total somme des frais :</strong>
                {{ session.TotalSommeFrais }} </p>

          <p><strong>Statut :</strong> {{ session.statut }}</p>

        </button>
      </li>
    </ul>
  </div>
  } @else {
    <p>Il n'y a pas de session , veuillez en créer si vous êtes admin</p>
    <button> <a routerLink="/admin">Admin</a></button>
  }
  }
  @else {
  <p>Vous devez être connecté</p>
  }
</div>