<div class="my-component">
    @if(this.session && this.user) {
      <h1>Register Vendeur</h1>
      <h2>Vous avez choisi la session {{ session.name }} : {{ session.dateDebut }} - {{ session.dateFin }}</h2>
  
      <form [formGroup]="registerVendeur" (ngSubmit)="register()" class="form">
        <label>Email:</label>
        <input type="email" formControlName="email" required>
  
        <label>Firstname:</label>
        <input type="text" formControlName="firstname" required>
  
        <label>Name:</label>
        <input type="text" formControlName="name" required>
  
        <label>Telephone:</label>
        <input type="text" formControlName="phone" required>
  
        <br><br>
        <button class="btn" type="submit" [disabled]="!registerVendeur.valid">Enregistrer le vendeur</button>
        <button  class="btn" (click)="redirectToLogin()">Le vendeur a déjà un compte ?</button>
      
      </form>
  
      
    } @else if(this.user) {
      <p>Vous devez choisir une session</p>
    } @else {
      <p>Vous devez vous connecter</p>
    }
  </div>
  